[Desktop Entry]
Type=Link
Name=AiccAgentGUI
Icon=/usr/share/AiccAgentClient/AiccAgentGUI/Logo-AIOT.ico
URL=/usr/share/applications/AiccAgentGUI.desktop
